# Fichier manage par ansible
# Ne pas modifier manuellement
# Contact : it@masociete.fr

# {{ ansible_managed }}

Formation Ansible

{# Commentaire jinja2 : Utilisation d'un fact #}
Serveur de type : {{ ansible_facts['distribution'] }}

PRODUCTION
